<div class="container">
  <div class="row">
      <div class="col-md-1">#</div>
      <div class="col-md-2">First Name</div>
      <div class="col-md-2">Last Name</div>
      <div class="col-md-3">Email</div>
      <div class="col-md-1">Age</div>
      <div class="col-md-3">Actions</div>
  </div>
  <div  *ngFor="let mate of repository.getMates(); let i = index;" class="row">
      <div *ngIf="!(editingMate && editingMate.guid == mate.guid)" class="row" style="padding-bottom: 5px;">
        <div class="col-md-1">{{ i + 1 }}</div>
        <div class="col-md-2">{{ mate.name.first }}</div>
        <div class="col-md-2">{{ mate.name.last }}</div>
        <div class="col-md-3">{{ mate.email }}</div>
        <div class="col-md-1">{{ mate.age }}</div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success" (click)="editMate(mate)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteMate(mate.guid)">Delete</button>
        </div>
      </div>
      <app-mates-form *ngIf="editingMate && editingMate.guid == mate.guid" [mate]="editingMate" (onFormHide)="onFormHide($event)"></app-mates-form>
  </div>
    <div class="row">
        <button *ngIf="!(creatingMate)" type="button" class="btn btn-success" (click)="createMate(mate)">Create</button>
        <app-mates-form *ngIf="creatingMate" [mate]="creatingMate" (onFormHide)="onFormHide($event)"></app-mates-form>
    </div>
</div>