<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="submit(mateForm)" #mateForm="ngForm" novalidate>
            <div class="form-group">
                <label for="mates-form-first-name">First name:</label>
                <input #fname="ngModel" class="form-control" id="mates-form-first-name" name="firstName" [ngModel]="mate.name.first" type="text" required />
                <div class="errors" [hidden]="fname.valid || fname.untouched">
                    <div *ngIf="fname.errors && fname.errors.required" class="alert alert-danger">Last name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="mates-form-last-name">Last name:</label>
                <input #lname="ngModel" class="form-control" id="mates-form-last-name" name="lastName" [ngModel]="mate.name.last" type="text" required />
                <div class="errors" [hidden]="lname.valid || lname.untouched">
                    <div *ngIf="lname.errors && lname.errors.required" class="alert alert-danger">Last name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="mates-form-email">Email:</label>
                <input #email="ngModel" class="form-control" id="mates-form-email" name="email" [ngModel]="mate.email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  />
                <div class="errors" [hidden]="email.valid || email.untouched">
                    <div *ngIf="email.errors && email.errors.required" class="alert alert-danger">Email is required</div>
                    <div *ngIf="email.errors && email.errors.pattern" class="alert alert-danger">Email is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="mates-form-age">Age:</label>
                <input #age="ngModel" class="form-control" id="mates-form-age" name="age" [ngModel]="mate.age" type="number" pattern="^\d{1,3}$" required />
                <div class="errors" [hidden]="age.valid || age.untouched">
                    <div *ngIf="age.errors && age.errors.required" class="alert alert-danger">Age is required</div>
                    <div *ngIf="age.errors && age.errors.pattern" class="alert alert-danger">Age is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!mateForm.form.valid">Save</button>
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
